[Desktop Entry]
Type=Application
Name=Mathworks Service Host
Exec=/home/sebastiano/.MathWorks/ServiceHost/-mw_shared_installs/v2025.2.2.1/bin/glnxa64/MathWorksServiceHost service --realm-id companion@prod@production
Terminal=false
